<section>
	<header class="major">
		<h2>{{ config.extra.editorial.featuretteTitle }}</h2>
	</header>
	<div class="features">
		<article>
			{% if site.featuretteFirstIcon %}
			<span class="{{ site.featuretteFirstIcon }}"></span>
			{% elif site.featuretteFirstImage %}
			{% endif %}
			<div class="content">
				<h3>{{ config.extra.editorial.featuretteFirstHighlight }}</h3>
				<p>{{ config.extra.editorial.featuretteFirstTagline }}</p>
			</div>
		</article>
		<article>
			<span class="{{ config.extra.editorial.featuretteSecondIcon }}"></span>
			<div class="content">
				<h3>{{ config.extra.editorial.featuretteSecondHighlight }}</h3>
				<p>{{ config.extra.editorial.featuretteSecondTagline }}</p>
			</div>
		</article>
		<article>
			<span class="{{ config.extra.editorial.featuretteThirdIcon }}"></span>
			<div class="content">
				<h3>{{ config.extra.editorial.featuretteThirdHighlight }}</h3>
				<p>{{ config.extra.editorial.featuretteThirdTagline }}</p>
			</div>
		</article>
		<article>
			<span class="{{ config.extra.editorial.featuretteFourthIcon }}"></span>
			<div class="content">
				<h3>{{ config.extra.editorial.featuretteFourthHighlight }}</h3>
				<p>{{ config.extra.editorial.featuretteFourthTagline }}</p>
			</div>
		</article>
	</div>
</section>